/* SELECTORES */
/** selector de elemento **/
:root {
  font-size: 20px;
}

/* USO DE LA FUENTE */
body {
  background-color: #FBFCFC;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #FFFFFF;
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
}

h2, h3 {
  text-align: center;
}

#div-temas {
  display: block;
}

.product-cell {
  background-color: #FBFCFC;
  border: 1px solid #EAECEE;
  border-radius: 4px;
  padding:10px;
  margin: 20px;
}

.product-cell:hover {
  background-color: #EAECEE;
  border: 1px solid #FBFCFC;
  box-shadow: 0 0 4px #000;
  cursor: pointer;
  transition: all .3s;
}

.product-cell > img {
  border: .2px solid #FBFCFC;
  width: 200px;
}

.product-cell:hover > img {
  opacity: 0.8;
  border:.2px solid #000;
}

.celular > h2 {
  color: purple;
}

.celular > h3 {
  color: #656567;
}

.laptop > h2 {
  color: blue;
}

.laptop > h3 {
  color: cadetblue;
}

.audifono > h2 {
  color: #783622;
}

.audifono > h3 {
  color: #4081dc;
}

/** ESTILOS PARA EL FORMULARIO **/
.div-form {
  width: 400px;
  margin: 20px auto;
}

.div-form > form > input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 60%;
  font-size: 20px;
  padding-left: 20px;
  outline: none;
}

.div-form > form > input:focus {
  border: 2px solid blue;
}

.div-form > form > button {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 30%;
  outline: none;
}

.div-form > form > button:hover {
  background-color: #666;
  border: none;
  color: #fff;
  cursor: pointer;
}

.div-form > form > button:focus {
  border: 2px solid red;
}

/** PSEUDOELEMENNTOS **/
.price::before {
  content: "$ ";
  font-size: 12px;
}

.price::after {
  content: " USD";
  font-size: 12px;
}