/* SELECTORES */
/** selector de elemento **/
body {
  background-color: #FBFCFC;
}

h1 {
  color: green;
  background-color: beige;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

h2, h3 {
  text-align: center;
}

#div-temas {
  display: none;
}

.product-cell {
  background-color: #FBFCFC;
  border: 1px solid #EAECEE;
  border-radius: 4px;
  padding:10px;
  margin: 20px;
}

.celular > h2 {
  color: purple;
}

.celular > h3 {
  color: #656567;
}

.laptop > h2 {
  color: blue;
}

.laptop > h3 {
  color: cadetblue;
}

.audifono > h2 {
  color: #783622;
}

.audifono > h3 {
  color: #4081dc;
}